#container {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 800px;
    height: 600px;
    border: 1px solid rgb(41, 170, 36);
}


#start p {
    font-size: 20px;
    font-weight: bold;
}

#start-time {
    background-color: rgb(12, 12, 102);
    margin-top: 40px;
    padding: 12px 20px;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 8px;
}

.quiz-header {
    padding: 25px;
}

#high-scores a {
    
    text-decoration: none;
}

#start {
    text-align: center;
    margin: 20px;
}

#timer {
    float: right;
}

.options {
    list-style-type: none;

}

.options li {
    background-color: rgb(5, 4, 51);
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 7px;
    width: 250px;
    cursor: pointer;

}

.options li:hover {
    background-color: rgb(145, 18, 134);
}

#questions {
    display: none;
    margin: 20px;
    padding: 10px;
}

#answer-outcome {
    display: none;
    margin: 20px;
    border-top: 1px solid grey;
    color: grey;
    font-size: 32px;
    
}

#all-done {
    display: none;
    margin: 20px;
    padding: 10px;
}

#all-done button {
    background-color: rgb(12, 12, 102);
    color: aliceblue;
    cursor: pointer;
    border-radius: 4px;

}

#all-done h1 {
    font-weight: bold;
}

#all-done p {
    font-size: 28px;
}
