* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

:root {
    --color-dark: rgb(12, 12, 102);
    --color-light:rgb(145, 18, 134);
}

.container {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 800px;
    height: 600px;
    padding: 40px;
    border: 4px solid black;
    box-shadow: 15px 15px 5px lightgray;
}


#start p {
    font-size: 20px;
    font-weight: bold;
}

#start-time {
    background-color: var(--color-dark);
    margin-top: 40px;
    padding: 12px 20px;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 8px;
}

#start-time:hover {
    background-color: var(--color-light)
}


.quiz-header {
    padding: 25px;
}

#high-scores a {
    
    text-decoration: none;
}

#start {
    text-align: center;
    margin: 20px;
}

#timer {
    float: right;
}

.options {
    list-style-type: none;

}

.options li {
    background-color: var(--color-dark);
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 7px;
    width: 250px;
    cursor: pointer;

}

.options li:hover {
    background-color: var(--color-light)
}

#questions {
    display: none;
    margin: 20px;
    padding: 10px;
}

#answer-outcome {
    display: none;
    margin: 20px;
    border-top: 1px solid grey;
    color: grey;
    font-size: 32px;
    
}

#all-done {
    display: none;
    margin: 20px;
    padding: 10px;
}

#all-done button {
    background-color: var(--color-dark);
    color: aliceblue;
    cursor: pointer;
    border-radius: 4px;

}

#all-done button:hover {
    background-color: var(--color-light);
}

#all-done h1 {
    font-weight: bold;
}

#all-done p {
    font-size: 28px;
}

#scores {
    display: none;
}

#scores ul {
    list-style: none;
    
}

#scores li {
    background-color: lightskyblue;
    margin: 10px;
    width: 400px;
}

#scores button {
    background-color: var(--color-dark);
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 7px;
    width: 250px;
    cursor: pointer;
}

#scores button:hover {
    background-color: var(--color-light);
}